---
import type { GetStaticPaths } from "astro";
import "../font.css";
interface Props {
  title: string;
}
import { AstroSeo } from "@astrolib/seo";
import NavBar from "../components/NavBar.svelte";
const { title } = Astro.props;
import {
  BackgroundImage,
  Img,
  BackgroundPicture,
} from "astro-imagetools/components";
---

<!-- * @type {import('astro-imagetools').GlobalConfigOptions} --><!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title></title>

    <AstroSeo
      title={title}
      description="This example uses more of the available config options."
      canonical="https://www.canonical.ie/"
      openGraph={{
        url: "https://www.url.ie/a",
        title: "Open Graph Title",
        description: "Open Graph Description",
        images: [
          {
            url: "https://www.example.ie/og-image-01.jpg",
            width: 800,
            height: 600,
            alt: "Og Image Alt",
            type: "image/jpeg",
          },
          {
            url: "https://www.example.ie/og-image-02.jpg",
            width: 900,
            height: 800,
            alt: "Og Image Alt Second",
            type: "image/jpeg",
          },
          { url: "https://www.example.ie/og-image-03.jpg" },
          { url: "https://www.example.ie/og-image-04.jpg" },
        ],
        site_name: "SiteName",
      }}
      twitter={{
        handle: "@handle",
        site: "@site",
        cardType: "summary_large_image",
      }}
    />
  </head>
  <body
    class="min-w-screen min-h-screen bg-black bg-cover bg-center bg-no-repeat"
    style="background-image: url('bg.svg')"
  >
    <div
      class="mx-auto min-h-screen w-5/6 rounded-sm bg-white bg-opacity-35 bg-cover shadow-lg backdrop-blur-sm"
    >
      <NavBar />
      <slot />
    </div>
  </body>
</html>
